# DAV 6150 Module 3 Assignment
   ### Cleaning “Messy” Data

## 1. Introduction

For this assignment, I will be using  a dataset which is comprised of information on more than 12,700 wines, with many of the attributes being related to the chemical composition of the wines.
Here, the goal is exploring and “cleaning” a data set that suffers from a variety of data integrity + usability issues.

## Import Libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

## 2. Exploratory Data Analysis

#### Part1. Read dataset from my github  repo and creat pandas dataframe

In [10]:
# Downloading the csv file from my GitHub repo
data_url = "https://raw.githubusercontent.com/mahletbirku/-DAV-6150/main/M3_Data.csv"
df = pd.read_csv(data_url)

# show data with head() function 
df.head(10)

,Unnamed: 0,INDEX,TARGET,FixedAcidity,VolatileAcidity,CitricAcid,ResidualSugar,Chlorides,FreeSulfurDioxide,TotalSulfurDioxide,Density,pH,Sulphates,Alcohol,LabelAppeal,AcidIndex,STARS
0,0,1,3,3.2,1.160,0.98,54.20,0.567,NaN,268.0,0.99280,3.33,0.59,9.9,0,8,2.0
1,1,2,3,4.5,0.160,0.81,26.10,0.425,15.0,327.0,1.02792,3.38,0.70,NaN,-1,7,3.0
2,2,4,5,7.1,2.640,0.88,14.80,0.037,214.0,142.0,0.99518,3.12,0.48,22.0,-1,8,3.0
3,3,5,3,5.7,0.385,0.04,18.80,0.425,22.0,115.0,0.99640,2.24,1.83,6.2,-1,6,1.0
4,4,6,4,8.0,0.330,1.26,9.40,NaN,167.0,108.0,0.99457,3.12,1.77,13.7,0,9,2.0
5,5,7,0,11.3,0.320,0.59,2.20,0.556,37.0,15.0,0.99940,3.20,1.29,15.4,0,11,NaN
6,6,8,0,7.7,0.290,0.40,21.50,0.060,287.0,156.0,0.99572,3.49,1.21,10.3,0,8,NaN
7,7,11,4,6.5,1.220,0.34,1.40,0.040,523.0,551.0,1.03236,3.20,NaN,11.6,1,7,3.0
8,8,12,3,14.8,0.270,1.05,11.25,0.007,213.0,NaN,0.99620,4.93,0.26,15.0,0,6,NaN
9,9,13,6,5.5,0.220,0.39,1.80,0.277,62.0,180.0,0.94724,3.09,0.75,12.6,0,8,4.0

This is the first 10 rows of the dataset using the head method. Here, we can have a first look at the features like columns and some of the values that each one takes.

### Check the dataset shape

Knowing the amount of data we have is very important, because the quality of our analysis is depend on that.

In [11]:
# check the result
df.shape

(12795, 17)

###  Data dictionary

| Columns| Description |
|:------:|-|
| INDEX |  Unique ID | 
| TARGET | Response Variable (indicates # of cases of wine sold) | 
| AcidIndex|  Measures total acidity of wine via a weighted average| 
| Alcohol| Alcohol Content | 
| Chlorides| Chloride content of the wine | 
| CitricAcid | Citric Acid content of the wine | 
| Density | Density of the wine | 
| FixedAcidity | FixedAcidity of the wine | 
| FreeSulfurDioxide |  Sulfur Dioxide content of the wine | 
| LabelAppeal |  Subjective marketing score that indicates the appeal of
the design of the label on the bottle | 
| ResidualSugar|  Residual sugar content of the wine | 
| STARS|  Wine rating as determined by experts (4 = excellent; 1 =
Poor | 
| Sulphates|  Sulfate content of the wine | 
| TotalSulfurDioxide |  Total sulfur dioxide content of the wine | 
| VolatileAcidity| Volatile acid content of the wine | 
| pH | pH of the wine |

### Data types of all columns
Pandas.dtypes function helps us to display the data types of all columns as a series.

In [12]:
# Check the data types

df.dtypes

Unnamed: 0              int64
INDEX                   int64
TARGET                  int64
FixedAcidity          float64
VolatileAcidity       float64
CitricAcid            float64
ResidualSugar         float64
Chlorides             float64
FreeSulfurDioxide     float64
TotalSulfurDioxide    float64
Density               float64
pH                    float64
Sulphates             float64
Alcohol               float64
LabelAppeal             int64
AcidIndex               int64
STARS                 float64
dtype: object

### Check null values
I checked null valus which is a fundamental part of data cleaning. I will use Pandas. isnull() and .sum() functions together to display count of missing values of each attribute.

In [13]:
# recommended code 

print (df.isnull().sum())

Unnamed: 0               0
INDEX                    0
TARGET                   0
FixedAcidity             0
VolatileAcidity          0
CitricAcid               0
ResidualSugar          616
Chlorides              638
FreeSulfurDioxide      647
TotalSulfurDioxide     682
Density                  0
pH                     395
Sulphates             1210
Alcohol                653
LabelAppeal              0
AcidIndex                0
STARS                 3359
dtype: int64

### Check duplicates values

In [14]:
# use duplicated function
df_dup = df.duplicated()

# check the result
df_dup.value_counts()

False    12795
dtype: int64